{% extends "board/base.html" %}

{% block title %}
연도별 팀 순위 변동
{% endblock %}

{% block content %}
<div class="container" width="20000">
    <div class="section-top-border" width='20000'>
        <h3 class="mb-30">연도별 팀 순위 변동</h3>
        <div>
            <form action="/record/graph" method="get">
                <img src="{{graph1}}" width="660" height="500"/>
        </div>

        <div class="row justify-content-end">
            <div style="margin-right: 15px;">
                <button class="genric-btn primary radius" onclick="location.href='/index'">홈으로</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}