{% extends "board/base.html" %}

{% block title %}
타자 기록실
{% endblock %}

{% block content %}
<div class="container">
    <div class="section-top-border">
        <h3 class="mb-30">타자 기록실</h3>
        <div style="margin-right: 15px;">
            <form action="/record/hitterList" method="get">
                <div class="form-inline row justify-content-end" style="margin-bottom: 10px;">
                    <div class="default-select" id="default-select">
                        <select name="type">
                            <option value="h_team">팀 명</option>
                            <option value="h_name">선수명</option>
                        </select>
                    </div>
                    <div class="ml-10">
                        <input type="text" name="text" placeholder="검색할 내용 입력" onfocus="this.placeholder = ''" onblur="this.placeholder = '검색할 내용 입력'" class="single-input">
                    </div>
                    <div class="ml-10">
                        <input type="submit" class="genric-btn primary radius" value="검색">
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-hover table_text_center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">선수명</th>
                    <th scope="col">팀명</th>
                    <th scope="col">타율</th>
                    <th scope="col">게임</th>
                    <th scope="col">타석</th>
                    <th scope="col">타수</th>
                    <th scope="col">득점</th>
                    <th scope="col">안타</th>
                    <th scope="col">2루타</th>
                    <th scope="col">3루타</th>
                    <th scope="col">홈런</th>
                    <th scope="col">루타</th>
                    <th scope="col">타점</th>
                    <th scope="col">희생번트</th>
                    <th scope="col">희생플라이</th>
                </tr>
            </thead>
            <tbody>
            {% for tmp in posts %}
                <tr class="tr_mouseover">
                    <td class="player_name">{{ tmp.h_name }}</td> 
                    <td>{{ tmp.h_team }}</td> 
                    <td style="color: #e76a6a;">{{ tmp.h_avg }}</td> 
                    <td>{{ tmp.h_game }}</td>
                    <td>{{ tmp.h_pa }}</td> 
                    <td>{{ tmp.h_ab }}</td> 
                    <td>{{ tmp.h_r }}</td> 
                    <td>{{ tmp.h_h }}</td> 
                    <td>{{ tmp.h_2b }}</td> 
                    <td>{{ tmp.h_3b }}</td> 
                    <td>{{ tmp.h_hr }}</td> 
                    <td>{{ tmp.h_tb }}</td> 
                    <td>{{ tmp.h_rbi }}</td> 
                    <td>{{ tmp.h_sac }}</td> 
                    <td>{{ tmp.h_sf }}</td> 
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if posts.0 is None %}
        <div class="row justify-content-center">
            <p>타자 기록이 존재하지 않습니다.</p>
        </div>
        {% endif %}
        
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a href="?page=1&type={{searchtype}}&text={{searchkeyword}}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">
                                첫페이지
                                <!-- <span class="lnr lnr-chevron-left"></span> -->
                            </span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{posts.previous_page_number}}&type={{searchtype}}&text={{searchkeyword}}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">
                                이전페이지
                                <!-- <span class="lnr lnr-chevron-left"></span> -->
                            </span>
                        </a>
                    </li>
                {% endif %}
                {% if posts.0 is not None %}
                    <li class="page-item"><a href="#" class="page-link">{{posts.number}}</a></li>
                    <li class="page-item"><a href="#" class="page-link">/</a></li>
                    <li class="page-item"><a href="#" class="page-link">{{posts.paginator.num_pages}}</a></li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="page-item">
                        <a href="?page={{posts.next_page_number}}&type={{searchtype}}&text={{searchkeyword}}" class="page-link" aria-label="Next">
                            <span aria-hidden="true">
                                다음페이지
                                <!-- <span class="lnr lnr-chevron-right"></span> -->
                            </span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{posts.paginator.num_pages}}&type={{searchtype}}&text={{searchkeyword}}" class="page-link" aria-label="Next">
                            <span aria-hidden="true">
                                마지막페이지
                                <!-- <span class="lnr lnr-chevron-right"></span> -->
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav> 

        <div class="row justify-content-end">
            <div style="margin-right: 15px;">
                <button class="genric-btn primary radius" onclick="location.href='/index'">홈으로</button>
            </div>
        </div>
        <div id="pop_up" style="position:absolute; width:45%; display:none;">
            <img id="up_img" width="100%" height="100%"/>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function imageOn(path, x, y) { 
        var divform = $("#pop_up");
        divform.css({left: x + 1, top: y + 3}) 
        divform.css('display', '');
        $("#up_img").attr('src', path); 
    } 
    
    function imageOff() { 
        var divform = $("#pop_up"); 
        divform.css('display', 'none');
    }
    
    $('.tr_mouseover').hover(function() {
        $('.tr_mouseover').mouseover(function(e) {
            x = e.pageX
            y = e.pageY
            name = $(this).text().split('\n')[1].trim()
            imageOn('/static/src/players_img/' + name + '.PNG', x, y)
        })
    })

    $('.tr_mouseover').mouseleave(function() {
        imageOff()
    })
</script>
{% endblock %}