{% extends "board/base.html" %}

{% block title %}
팀 순위
{% endblock %}

{% block content %}
<div class="container">
    <div class="section-top-border">
        <h3 class="mb-30">{{t_year}}년도 팀 순위</h3>
        <div style="margin-right: 15px;">
            <form action="/record/teamyear" method="get">
                <div class="form-inline row justify-content-end" style="margin-bottom: 10px;">
                    <div class="default-select" id="default-select">
                        <select name="search_year">
                            <option value="">년도</option>
                            <option value="2019">2019년</option>
                            <option value="2018">2018년</option>
                            <option value="2017">2017년</option>
                            <option value="2016">2016년</option>
                        </select>
                    </div>
                    <div class="ml-10">
                        <input type="submit" class="genric-btn primary radius" value="검색">
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-hover table_text_center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">순위</th>
                    <th scope="col">팀명</th>
                    <th scope="col">경기</th>
                    <th scope="col">승</th>
                    <th scope="col">패</th>
                    <th scope="col">무</th>
                    <th scope="col">승률</th>
                    <th scope="col">게임차</th>
                    <th scope="col">최근10경기</th>
                    <th scope="col">연속</th>
                    <th scope="col">홈</th>
                    <th scope="col">방문</th>
                </tr>
            </thead>
            <tbody >
            {% for tmp in teamList %}
                <tr>
                    <td scope="row">{{ tmp.t_no }}</td>
                    <td>{{ tmp.t_name }}</td> 
                    <td>{{ tmp.t_game }}</td>
                    <td>{{ tmp.t_win }}</td>
                    <td>{{ tmp.t_lose }}</td>
                    <td>{{ tmp.t_draw }}</td>
                    <td>{{ tmp.t_per }}</td>
                    <td>{{ tmp.t_chai }}</td>
                    <td>{{ tmp.t_10 }}</td>
                    <td>{{ tmp.t_cont }}</td>
                    <td>{{ tmp.t_home }}</td>
                    <td>{{ tmp.t_away }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if teamList.0 is None %}
        <div class="row justify-content-center">
            <p> 팀 순위가 존재하지 않습니다.</p>
        </div>
        {% endif %}

        <div class="row justify-content-end">
            <div style="margin-right: 15px;">
                <button class="genric-btn primary radius" onclick="location.href='/index'">홈으로</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}